{% extends 'mineral_catalog/base.html' %}

{% block title %}{{ mineral.name }} - {{ super }}{% endblock %}

{% block content %}
<div class="grid-100 mineral__container">
    <h1 class="mineral__name">{{ mineral.name }}</h1>
    <div class="mineral__image-bg">
        <img class="mineral__image" src="{% static 'images/' + mineral.name + '.jpg'}">
        <p class="mineral__caption">{{ mineral.image_caption }}</p>
    </div>
    <div class="mineral__table-container">
        <table class="mineral__table">
            {% for field in mineral %}
            <tr>
                {% if field.name == 'formula' %}<td class="mineral__formula">{% else %}<td class="mineral__category">{% endif %}{{ field.name }}</td>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
