{% extends 'mineral_catalog/base.html' %}
{% load static %}
{% load getattr %}

{% block title %}{{ mineral.name }} - {{ block.super }}{% endblock %}

{% block content %}
<div class="grid-100 mineral__container">
    <h1 class="mineral__name">{{ mineral.name }}</h1>
    <div class="mineral__image-bg">
        <img class="mineral__image" src="{% get_static_prefix %}images/{{ mineral.name }}.jpg">
        <p class="mineral__caption">{{ mineral.image_caption }}</p>
    </div>
    <div class="mineral__table-container">
        <table class="mineral__table">
            {% for field in fields %}
            <tr>
                {% if mineral|getattr:field %}
                    {% if field == 'formula' %}<td class="mineral__formula">{% else %}<td class="mineral__category">{% endif %}{{ field|title }}</td>
                    <td>{{ mineral|getattr:field|safe|capfirst }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
